@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<abt-root></abt-root>
<script type="text/javascript" src="/about/inline.bundle.js"></script>
<script type="text/javascript" src="/about/polyfills.bundle.js"></script>
<script type="text/javascript" src="/about/styles.bundle.js"></script>
<script type="text/javascript" src="/about/vendor.bundle.js"></script>
<script type="text/javascript" src="/about/main.bundle.js"></script>
